{
  "accounts": {
    "correctAccount": {
      "correctUsername": correctUsername,
      "correctPassword": correctPassword
    },
    "incorrectAccount": {
      "nonExistingUser": nonExistingUser,
      "nonExistingPassword": nonExistingPass
    }
  },
  "apis": {
    "login": loginApiUrl/,
    "payments": paymentsApiURL/
  }
}