{
  "accounts": {
    "correctAccount": {
      "correctUsername": correctUsername,
      "correctPassword": correctPassword
    },
    "incorrectAccount": {
      "nonExistingUser": nonExistingUser,
      "nonExistingPassword": nonExistingPass
    }
  },
  "apis": {
    "baseUrl": apiBaseUrl,
    "login": loginApiUrl
  }
}